groq
python-dotenv
pypdf
docx2txt
pydantic


#qdrant_agent
qdrant-client
sentence-transformers

#Proctoring_agent
opencv-python
mediapipe
ultralytics
numpy

#Voice_agent
sounddevice
scipy
groq


### tts
pyttsx3


##FastAPI
fastapi
uvicorn
python-multipart


streamlit
